.advertisement-more {
	&__main-wrapper {
		@include flex();
		margin-top: 40px;
	}

	&__main {
		@include flex();
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		border: 2px solid $color-blue;
		border-radius: 4px;
		padding: 30px 40px;

		& .main {
			&__caption {
				& .caption {
					&__header {
						@include flex();
						justify-content: flex-start;
						align-items: flex-start;
					}

					&__picture {
						width: 200px;
					}

					&__text-item {
						list-style-type: none;
					}
				}
			}

			&__pictures {
				@include flex();
				flex-wrap: wrap;
				padding-left: 0;
				margin-top: 20px;
				margin-right: -20px;

				&-item {
					list-style-type: none;
					margin-right: 20px;
					width: 100px;
				}
			}
		}
	}

	&__right {
		color: $color-black;
		margin-left: 40px;
		min-width: 250px;
		font-size: 0.9rem;

		& .right {
			&__text {
				padding: 10px;
				@include flex();
				flex-direction: column;
				align-items: flex-start;
				border: 2px solid $color-blue;
				border-radius: 4px;
				margin-top: 20px;
			}

			&__header {
				& .header {
					&__figure {
						width: 50px;
						height: auto;
						margin-right: 20px;
					}
				}
			}

			&__main {
				& .main {
					&__item {
					}
				}
			}
		}
	}
}
