.home {
	&__header {
		position: relative;
		justify-content: center;
		align-items: flex-start;

		& .header {
			&__buttons {
				position: absolute;
				right: 0;
				top: 0;

				@include responsive(sm) {
					position: static;
				}

				& > button {
					background-color: $color-brown_dark;
					border: none;
					margin-left: 20px;

					@include responsive(sm) {
						margin-bottom: 20px;
					}
				}

				#header__buttons-first {
					margin-left: 0;
				}
			}

			&__info {
				@include flex();
				flex-direction: column;
			}

			&__logo {
				box-shadow: 0 4px 8px 0 lightgrey;
				border-radius: 4px;
				width: 100%;
				max-width: 420px;
			}

			&__text {
				margin-top: 40px;
				max-width: 400px;
				text-align: center;
				color: $color-brown-dark;
				font-weight: bold;
			}
		}
	}

	&__main {
		& .main {
			&__row {
				@include flex();
				margin-bottom: 40px;
				justify-content: space-between;
			}

			&__block {
				width: 30%;

				&-text {
					width: 30%;
					text-align: center;
					font-weight: bold;
				}
			}
		}
	}
}
